## trash binary build results, but keep the folder itself!
bin/
!bin/.gitkeep
*.slo
*.lo
*.o

# compiled dynamic/static linked libraries
lib/
!lib/.gitkeep
*.so
*.lai
*.la
*.a

## dev-files:
valgrind.sh
todo.txt
.project
merge

## documentation stuff:
*.log
*.uxf
doc/html
!doc/html/.gitkeep
doc/*.bak
doc/doxygen_warnings.log

## examples run:
examples/daemon_logfile.txt
examples/typescript
typescript
